@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');

.active-nav {
	background-color: #197A9F;
	color: white !important;
}
.parallax-container {
	height: 90%;
}
.header-style {
	padding: 15px;
	background:url('./../img/header-bg.jpg') repeat-x;
	margin-bottom: 0px;
}
.nav-style {
	border-bottom: 6px solid #197A9F;
}
.group-icon {
	margin-bottom: 20px;
}
.div-icon {
	padding-top: 9px !important;
	padding-bottom: 9px !important;
}
.btn-style {
	margin-bottom: 20px;
}
.group-form {
	padding-top: 20px !important;
	background-color: #f4f5f6;
}
.group-container {
	margin-bottom: 200px;
}
.group-title {
	margin-bottom: 0px;
}
.group-etiqueta {
	margin-bottom: 30px;
	margin-top: 20px;
}
.group-footer {
	height: 100%;
	background-color: #197A9F;
}
.etiqueta {
	font-weight: bold;
}
.footer-text {
	padding: 10px 0px;
	margin: auto;
	font-weight: 600;
}
.etiqueta-num {
	color: #999;
	font-family: 'Cherry Swash', cursive;
}
/* Title */
	.title-main {
		font-weight: bold;
		text-shadow:0px 0px 2px #574949;
	}
	.title-style {
		width: 60%;
		margin: 80px auto;
	}
/* Background */
	.f-blue-lighten-1 {
		background-color: #197A9F;
	}
	.f-blue-lighten {
		background-color: #38B5E6;
	}
	.f-blue-darken {
		background-color: #0E2240;
	}
/* Images */
	.img1 {
		width: 80%;
	}
	.img2 {
		width: 71%;
		float: right;
	}
/* Buttons */
	#btn_search:hover {
		background-color: #38B5E6;
	}
/* Formularios */
	.input-field label {
		color: #0e2240;
		font-weight: bold;
	}
	.input-field input[type=text]:focus + label {
		color: #0e2240;
		font-weight: bold;
	}
	.input-field .prefix.active {
		color: #197A9F;
	}
	.input-field input[type=text]:focus {
		border-bottom: 1px solid #000;
		box-shadow: 0 1px 0 0 #000;
	}

	.title-section {
		padding: 15px 0px !important;
	}
/* Mobile Devices */
@media (max-width: 600px) {
	.img1 {
		width: 125%;
	}

	.img2 {
		display: none;
	}
	.title-main {
		font-size: 30px;
	}
	.title-section {
		font-size: 20px;
	}
	.title-style {
		width: 70%;
		margin: 30px auto;
	}
	.group-container {
		margin-bottom: 50px;
	}
	.footer-text {
		font-size: 12px;
	}
}
/* Tablet Devices */
@media (min-width: 601px) and (max-width: 992px) {
	.group-container {
		margin-bottom: 100px;
	}
	.footer-text {
		font-size: 12px;
	}
}
/* Desktop Devices */
@media (min-width: 993px) and (max-width: 1200px) {
	.container {
		width: 85%;
	}
}
/* Large Desktop Devices */
@media (min-width: 1201px) {
	.container {
		width: 55% !important;
	}

	.img1 {
		width: 60%;
	}

	.img2 {
		width: 50%;
	}
	.group-container {
		margin-bottom: 28px !important;
	}
	.footer-text {
		font-size: 12px;
	}
}